/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

body:not(.enhanced_comment_validation_style2) #commentform .validation-error {
	border-color: #ff0202;
}

#commentform .validation-error-message {
	color: #ff0202;
}